*, *::before, ::after {
	box-sizing: border-box;
}

/* Nav styles */

header {
	background-color: #252525;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 999;	
}

nav {
	position: absolute;
	background-color: #252525;
	text-align: left;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 8px;
	display: none;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	
}

nav a:hover {
	color: #000;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	display: block;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
}